.count {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

/* ღილაკის გასუფთავება */
.btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}

/* აიქონის გასწორება */
.icon {
    font-size: 2rem; /* Ionicons-ისთვის ზომა ასე უფრო კარგად მუშაობს */
    color: #fff; /* აქ ჩაწერე ის ფერი, რაც გინდა რომ ისარი იყოს */
    transition: transform 0.2s;
}

.text{
    color: #fff;
    font-size: 1.6rem;

}
