.mine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-box-align: center;
    -moz-box-pack: center;
    width: 100%;
    margin-bottom: 1rem;
}

.mine h4{
    font-size: 2.4rem;
    color: #fff;
    margin-bottom: 1.2rem;
    letter-spacing: -0.5px;
    text-align: center;
    margin-top: 3rem;
}

.mine p{
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 0.75px;
    margin: 0 0 1rem;
}